@CHARSET "UTF-8";
body{
	background-color : 	#093145;
	
}
p{
	font-size : 80%; 
	color :red;
}
form{
	padding : 2%;
	margin : 3%;
	background-color : #EBc944;
	position: fixed; /* or absolute */
  	top: 33%;
 	 left: 33%;

 	 color : white;
 	 font-size : 110%;
	
	font-family: fantasy;
}

ul{
	list-style : none;
	padding-left : 0px;
}
li{
	padding-left : 0px;
	display : inline;
}
input{
	padding-bottom : 1.5%;
	padding-top : 1.5%;
	padding-right : 0.5%;
	padding-left : 0.5%;
	width : 60%;
	border-radius : 5px;
	float : right;

}

input[type="submit"] {
	margin : 5%;
	width : 40%;
}
input:hover{
	background-color : lightgray;
	
}